<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/cuisine.css" type="text/css" />
  <link rel="stylesheet" href="/styles/restaurants.css" type="text/css" />
  <link rel="stylesheet" href="/styles/homepage.css" type="text/css" />
  <link
    href="https://fonts.googleapis.com/css?family=Cookie|Cormorant+Upright:400,600,700|Fredericka+the+Great|Milonga|Playball|Raleway|Sacramento&display=swap"
    rel="stylesheet" />




  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/toggle.js"></script>

</head>

<body>
  <nav>
    <!--Back to homepage button-->
    <button id=BackToHome>Home</button>
    <button id="Cuisine">Cuisine</button> <!-- Cuisine -->
    <button id="Restaurants">Restaurants</button> <!-- Restaurants -->
  </nav>

  <!--Homepage(homepage.css and for Checkout button layout.css)-->
  <div id="homepage">
    <video autoplay muted loop id="homepageVid">
      <source src="/videos/coverr-outdoor-lunch.mp4" type="video/mp4">
    </video>
    <div class="title">
      <h1>Some Food App</h1>
      <h2>Going out but without the commitment</h2>
    </div>
    <button id="checkout">Checkout</button>

  </div>

  <!--Div for Cuisine(cuisine.css)-->
  <div id='food'>
    <h1> Food and things </h1>
    <button class="asian">Asian-Fusion</button>
    <button class="italian">Italian</button>
    <button class="latin">Latin</button>
  </div>

  <!--Div for restaurants(restaurants.css)-->
  <div class="restaurants" action="/api/orders">
    <form method="POST">
      <h1> Restaurants and Things </h1>
      <button>orretta</button>
      <button>lee</button>
      <button>baro</button>
    </form>
  </div>

  <!--Toggle for check out (homepage.css)-->
  <div id="checkoutToggle">
    <form method='POST' action="/api/orders">
      <h1>Your Order</h1>
      <p>Place holder menu item</p>
      <button>+</button>
      <button>-</button>
      <textarea name="text" placeholder="What's your name?"></textarea>
      <textarea name="text" placeholder="Where do you live?"></textarea>
      <textarea name="text" placeholder="How can we contact you?"></textarea>
      <input type="submit" id="place-order"></input>
    </form>
  </div>

</body>

</html>
