<!DOCTYPE html>
<html lang="en">

<head>
  <title>Login</title>

  <link rel="stylesheet" href="/styles/login.css" type="text/css" />

</head>

<body>
  <nav>
    <!--Back to homepage button-->
    <form method="GET" action="/">
      <button id=BackToHome>Back To Home</button>
    </form>

  </nav>

  <div id="Login">
    <h1>Welcome Back!</h1>
    <form action="/login" method="POST">
      <input id="username" type="text" placeholder="Email"></input>
      <input id="pass" type="password" placeholder="Password"></input>
      <button>Login</button>
    </form>
  </div>
</body>

</html>