<!DOCTYPE html>
<html lang="en">

<head>
  <title> :^) </title>
</head>

<body>
  <button> Owner press me pls </button>
  <% for (let eachOrder of allOrderInfo) { %>
    <%= eachOrder.name %>
    <%= eachOrder.total_amount %>
    <%= eachOrder.quantity %>
    <% } %>
</body>


</html>
