<!DOCTYPE html>
<html lang="en">

<head>
  <title>Orders</title>
  <!--Scripts-->
</head>


<!--Might need to add in a form with a GET method-->

<body>
  <!--Div for items that have been placed-->
  <div class="orders">
    <container id="itemsOrdered">

    </container>
  </div>

  <!--Button to send out twilio response-->
  <button>press me!</button>

</body>

</html>