<!DOCTYPE html>
<html lang="en">

<head>
  <title>Orders</title>
  <!--Script-->
</head>

<body>
  <!--Div for items that have been placed-->
  <div class="orders"></div>
  <!--Button to send out twilio response-->
  <button></button>

</body>

</html>