<!DOCTYPE html>
<html lang="en">

<head>
  <title>Orders</title>
  <!--Scripts-->

</head>


<!--Might need to add in a form with a GET method-->

<body>
  <!--Div for items that have been placed-->
  <div class="orders">
    <form id='getOrders' method="GET" action="/api/orders">
      <% for (let eachOrder of orderInfo) {%>
      <div><%= eachOrder.name %></div>
      <div><%= eachOrder.quantity %></div>
      <div><%= eachOrder.price %></div>
      <% }%>
      <container id="itemsOrdered">
    </form>

    </container>
  </div>

  <!--Button to send out twilio response-->
  <button>press me!</button>

</body>

</html>
