<!DOCTYPE html>
<html lang="en">

<head>
  <title>Orders</title>
  <!--Scripts-->

  <link rel="stylesheet" href="/styles/order_history.css" type="text/css" />
  <link
    href="https://fonts.googleapis.com/css?family=Cookie|Cormorant+Upright:400,600,700|Fredericka+the+Great|Milonga|Playball|Raleway|Sacramento&display=swap"
    rel="stylesheet" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
</head>


<!--Might need to add in a form with a GET method-->

<body>
  <!--Div for items that have been placed-->
  <nav>
    <!-- <button id="my-orders">My Orders</button> -->
    <div>
      <form method="GET" action="/" id="back-to-home">
        <button>Home</button>
      </form>
    </div>
  </nav>
  <div class="orders">
    <h1>My Order</h1>
    <form id='getOrders' method="GET" action="/api/orders">
      <% for (let eachOrder of orderInfo) {%>
      <div><%= eachOrder.name %></div>
      <div><%= eachOrder.quantity %></div>
      <div><%= eachOrder.price %></div>
      <% }%>
      <container id="itemsOrdered">
    </form>

    </container>
  </div>

  <!--Button to send out twilio response-->
  <button class="checkout">Checkout</button>

</body>

</html>