.restaurants {
  height: 100vh;
  text-align: center;
  margin-top: 20%;
}

.restaurants h1 {
  text-align: center;
  vertical-align: middle;
  position: relative;
  line-height: 40px;
  top: 30%;
  font-family: 'Playball', cursive;
  font-weight: normal;
  font-size: 300%;
}
