nav {
  background-color: black;
  height: 120px;
  position: relative;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  position: fixed;
  z-index: 4;
}

nav button {
  display: inline-block;
  margin-left: 13%;
  width: 10%;
  margin-right: 5%;
  height: 50px;
  border-radius: 12px;
  margin-top: 2%;
  background-color: transparent;
  color: white;
  box-shadow: inset 0px 0px 0px white;
  transition: all 0.5s !important;
}

nav button:hover {
  box-shadow: inset 150px 0px 0px #2F3B47;
}

#Login {
  margin-top:15%;
  margin-left:40%;
}